<div class="row"><h1>Voucher Studio</h1></div>



{{#if newVoucher}}
  {{tenant-manager/new-voucher showVoucherTable='showVoucherTable' commonProperty = commonProperty}}
{{else}}
  {{tenant-manager/voucher-filter commonProperty = commonProperty}}
  {{tenant-manager/select-voucher hideVoucherTable='hideVoucherTable' commonProperty = commonProperty}}
  {{tenant-manager/voucher-table commonProperty = commonProperty}}
{{/if}}


<button {{action 'changeCommonProp'}}>changeCommonProp</button>

<div>{{count}}</div><button class="btn btn-default pull-right" {{action 'getDataFromWebsocket'}}>getDataFromWebsocket</button>

{{newVoucher}}
