<div class="row"><h1>Voucher Studio</h1></div>



{{#if newVoucher}}
  <h1>nothing here</h1>
{{else}}
  {{tenant-manager/voucher-filter}}
  {{tenant-manager/select-voucher}}
  {{tenant-manager/voucher-table createVoucher='hideVoucherTable'}}
{{/if}}




{{newVoucher}}
