<div class="row"><h1>Voucher Studio</h1></div>



{{#if newVoucher}}
  {{tenant-manager/new-voucher showVoucherTable='showVoucherTable'}}
{{else}}
  {{tenant-manager/voucher-filter}}
  {{tenant-manager/select-voucher hideVoucherTable='hideVoucherTable'}}
  {{tenant-manager/voucher-table }}
{{/if}}




{{newVoucher}}
