<div class="row">

  {{select-2 content=items  value=currentValue  optionValuePath='id' optionLabelPath="item"  placeholder='Voucher type'  classNames='select-2' }}
  {{select-2 content=items  value=currentValue  optionValuePath='id' optionLabelPath="item"  placeholder='Voucher type'  classNames='select-2' }}
  {{select-2 content=items  value=currentValue  optionValuePath='id' optionLabelPath="item"  placeholder='Voucher type'  classNames='select-2' }}
  {{select-2 content=items  value=currentValue  optionValuePath='id' optionLabelPath="item"  placeholder='Voucher type'  classNames='select-2' }}

    {{currentValue}}

</div>