<h1>sdfsdafasdf</h1>

<div class="row">
    {{input class="form" value=newVoucher placeholder='asdfasdf'}}
</div>
<div class="row">{{select-2 content=''  value=''  optionValuePath='id'  placeholder='Choose your data'  classNames='select-2' }}</div>
<div class="row">{{select-2 content=''  value=''  optionValuePath='id'  placeholder='Choose your data'  classNames='select-2' }}</div>
<div class="row">{{select-2 content=''  value=''  optionValuePath='id'  placeholder='Choose your data'  classNames='select-2' }}</div>
<div class="row">{{select-2 content=''  value=''  optionValuePath='id'  placeholder='Choose your data'  classNames='select-2' }}</div>

<button {{action 'closeNewVoucher'}}>Cancel</button>