<div class="row">

  {{select-2 content=''  value=''  optionValuePath='id'  placeholder='Choose your data'  classNames='select-2' }}

    <div>{{count}}</div><button class="btn btn-default pull-right" {{action 'createVoucher'}}>Create a voucher</button>
    <button {{action 'changeCommonProp'}}>changeCommonProp</button>

  {{input type="checkbox" name="count" checked=count}}

</div>
